<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIPlugInFilterList</key>
	<dict>
		<key>MyColorNEFilter</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryColorAdjustment</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>MyColorNEFilterDispName</string>
				<key>CIAttributeDescription</key>
				<string>MyColorNEFilterDesc</string>
				<key>CIInputs</key>
				<array>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Input image</string>
						<key>CIAttributeClass</key>
						<string>CIImage</string>
						<key>CIAttributeDisplayName</key>
						<string>Image</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeImage</string>
						<key>CIAttributeName</key>
						<string>inputImage</string>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Hue degree</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeAngle</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<integer>2</integer>
						<key>CIAttributeDisplayName</key>
						<string>HueDegree</string>
						<key>CIAttributeIdentity</key>
						<integer>0</integer>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>6</integer>
						<key>CIAttributeName</key>
						<string>huedeg</string>
						<key>CIAttributeSliderMax</key>
						<integer>6</integer>
						<key>CIAttributeSliderMin</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Hue deviation threshold</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.08</real>
						<key>CIAttributeDisplayName</key>
						<string>HueRange</string>
						<key>CIAttributeIdentity</key>
						<integer>1</integer>
						<key>CIAttributeMin</key>
						<real>0</real>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>hueran</string>
						<key>CIAttributeSliderMax</key>
						<real>1</real>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Max Saturation</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<integer>1</integer>
						<key>CIAttributeDisplayName</key>
						<string>SaturationMax</string>
						<key>CIAttributeIdentity</key>
						<integer>1</integer>
						<key>CIAttributeMin</key>
						<real>0</real>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>satmax</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Mid1Saturation</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.666</real>
						<key>CIAttributeDisplayName</key>
						<string>SaturationPt1</string>
						<key>CIAttributeIdentity</key>
						<real>0.666</real>
						<key>CIAttributeMin</key>
						<real>0</real>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>satpt1</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Mid2Saturation</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.333</real>
						<key>CIAttributeDisplayName</key>
						<string>SaturationPt2</string>
						<key>CIAttributeIdentity</key>
						<real>0.333</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>satpt2</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Min Saturation</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<integer>0</integer>
						<key>CIAttributeDisplayName</key>
						<string>SaturationMin</string>
						<key>CIAttributeIdentity</key>
						<integer>0</integer>
						<key>CIAttributeMin</key>
						<real>0</real>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>satmin</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Max Lightness</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<integer>1</integer>
						<key>CIAttributeDisplayName</key>
						<string>LightnessMax</string>
						<key>CIAttributeIdentity</key>
						<integer>1</integer>
						<key>CIAttributeMin</key>
						<real>0</real>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>lummax</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Mid1Lightness</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.666</real>
						<key>CIAttributeDisplayName</key>
						<string>LightnessPt1</string>
						<key>CIAttributeIdentity</key>
						<real>0.666</real>
						<key>CIAttributeMin</key>
						<real>0</real>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>lumpt1</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Mid2Lightness</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.333</real>
						<key>CIAttributeDisplayName</key>
						<string>LightnessPt2</string>
						<key>CIAttributeIdentity</key>
						<real>0.333</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>lumpt2</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Min Lightness</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<integer>0</integer>
						<key>CIAttributeDisplayName</key>
						<string>LightnessMin</string>
						<key>CIAttributeIdentity</key>
						<integer>0</integer>
						<key>CIAttributeMin</key>
						<real>0</real>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>lummin</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<key>CIFilterClass</key>
			<string>MyColorNEFilter</string>
			<key>CIHasCustomInterface</key>
			<false/>
			<key>CIKernelFile</key>
			<string>MyColorNEFilter</string>
		</dict>
		<key>MyColorNEFilter2</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryColorAdjustment</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>MyColorNEFilter2DispName</string>
				<key>CIAttributeDescription</key>
				<string>MyColorNEFilter2Desc</string>
				<key>CIInputs</key>
				<array>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Input image</string>
						<key>CIAttributeClass</key>
						<string>CIImage</string>
						<key>CIAttributeDisplayName</key>
						<string>Image</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeImage</string>
						<key>CIAttributeName</key>
						<string>inputImage</string>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Red Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>RedMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>redmid</string>
						<key>CIAttributeSliderMax</key>
						<real>1</real>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Orange Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>OrangeMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>orangemid</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Yellow Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>YellowMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>yellowmid</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Green Yellow Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>GreenYellowMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>greenyellowmid</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Green Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>GreenMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>greenmid</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Green Cyan Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>GreenCyanMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>greencyanmid</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Cyan Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>CyanMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>cyanmid</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Blue Cyan Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>BlueCyanMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>bluecyanmid</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Blue Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>BlueMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>bluemid</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Blue Magenta Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>BlueMagentaMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>bluemagentamid</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Magenta Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>MagentaMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>magentamid</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Red Magenta Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>RedMagentaMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>redmagentamid</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
				</array>
			</dict>
			<key>CIFilterClass</key>
			<string>MyColorNEFilter2</string>
			<key>CIHasCustomInterface</key>
			<false/>
			<key>CIKernelFile</key>
			<string>MyColorNEFilter2</string>
		</dict>
		<key>MyColorNEFilter3</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryColorAdjustment</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>MyColorNEFilter3DispName</string>
				<key>CIAttributeDescription</key>
				<string>MyColorNEFilter3Desc</string>
				<key>CIInputs</key>
				<array>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Input image</string>
						<key>CIAttributeClass</key>
						<string>CIImage</string>
						<key>CIAttributeDisplayName</key>
						<string>Image</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeImage</string>
						<key>CIAttributeName</key>
						<string>inputImage</string>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Red Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>RedMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>redmid</string>
						<key>CIAttributeSliderMax</key>
						<real>1</real>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Orange Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>OrangeMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>orangemid</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Yellow Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>YellowMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>yellowmid</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Green Yellow Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>GreenYellowMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>greenyellowmid</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Green Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>GreenMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>greenmid</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Green Cyan Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>GreenCyanMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>greencyanmid</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Cyan Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>CyanMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>cyanmid</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Blue Cyan Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>BlueCyanMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>bluecyanmid</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Blue Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>BlueMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>bluemid</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Blue Magenta Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>BlueMagentaMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>bluemagentamid</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Magenta Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>MagentaMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>magentamid</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Red Magenta Mid Point</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>0.5</real>
						<key>CIAttributeDisplayName</key>
						<string>RedMagentaMid</string>
						<key>CIAttributeIdentity</key>
						<real>0.5</real>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>redmagentamid</string>
						<key>CIAttributeSliderMax</key>
						<integer>1</integer>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
				</array>
			</dict>
			<key>CIFilterClass</key>
			<string>MyColorNEFilter3</string>
			<key>CIHasCustomInterface</key>
			<false/>
			<key>CIKernelFile</key>
			<string>MyColorNEFilter3</string>
		</dict>
		<key>MyColorNEFilter4</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryColorAdjustment</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>MyColorNEFilter4DispName</string>
				<key>CIAttributeDescription</key>
				<string>MyColorNEFilter4Desc</string>
				<key>CIInputs</key>
				<array>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Input image</string>
						<key>CIAttributeClass</key>
						<string>CIImage</string>
						<key>CIAttributeDisplayName</key>
						<string>Image</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeImage</string>
						<key>CIAttributeName</key>
						<string>inputImage</string>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Alpha at Lum 0</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<integer>1</integer>
						<key>CIAttributeDisplayName</key>
						<string>AlphaAtLum0</string>
						<key>CIAttributeIdentity</key>
						<integer>1</integer>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>alpatlum0</string>
						<key>CIAttributeSliderMax</key>
						<real>1</real>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Alpha at Lum 0.5</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<integer>1</integer>
						<key>CIAttributeDisplayName</key>
						<string>AlphaAtLumHlf</string>
						<key>CIAttributeIdentity</key>
						<integer>1</integer>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>alpatlumhlf</string>
						<key>CIAttributeSliderMax</key>
						<real>1</real>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
					<dict>
						<key>CIAttributeDescription</key>
						<string>Alpha at Lum 1</string>
						<key>CIAttributeType</key>
						<string>CIAttributeTypeScalar</string>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<integer>1</integer>
						<key>CIAttributeDisplayName</key>
						<string>AlphaAtLum1</string>
						<key>CIAttributeIdentity</key>
						<integer>1</integer>
						<key>CIAttributeMin</key>
						<integer>0</integer>
						<key>CIAttributeMax</key>
						<integer>1</integer>
						<key>CIAttributeName</key>
						<string>alpatlum1</string>
						<key>CIAttributeSliderMax</key>
						<real>1</real>
						<key>CIAttributeSliderMin</key>
						<real>0</real>
					</dict>
				</array>
			</dict>
			<key>CIFilterClass</key>
			<string>MyColorNEFilter4</string>
			<key>CIHasCustomInterface</key>
			<false/>
			<key>CIKernelFile</key>
			<string>MyColorNEFilter4</string>
		</dict>
	</dict>
	<key>CIPlugInVersion</key>
	<integer>1</integer>
</dict>
</plist>
